backports.functools-lru-cache==1.6.1
beautifulsoup4
click==8.1.3
colorama==0.4.4
dill==0.3.2
Flask==2.3.2
Flask-Assets==2.0
Flask-Mail
google_speech
#googletrans==4.0.0-rc1 (using local library while Quechua, Lingala etc are unsupported)
gunicorn==20.1.0
hangul-romanize==0.1.0
httpx
httpx[http2]
itsdangerous==2.1.2
Jinja2==3.1.2
klepto==0.1.9
lang-trans==0.6.0
MarkupSafe>=2.0
numpy
pinyin==0.4.0
pox==0.2.8
psycopg2-binary==2.9.6
pykakasi==2.2.1
PyMySQL==0.9.3
python-bidi
regex
roman==2.0.0
selenium==3.141.0
six==1.15.0
transliterate==1.10.2
urllib3==1.25.9
webassets==2.0
Werkzeug==2.3.3